# 1.ETL

In [19]:
import pandas as pd

df = pd.read_csv("Joules_of_Siam_Data - Dataset_Strech.csv")
df.head()

   Year  Month  Population  Temperature         CPI     Peak
0  2022     12    66.09000    26.300000  106.470000  14552.5
1  2022     11    66.08333    26.249167  106.470000  15260.8
2  2022     10    66.07667    26.198333  106.470000  16485.3
3  2022      9    66.07000    26.147500  109.520000  16681.1
4  2022      8    66.06333    26.096667  108.503333  16293.1

In [9]:
# from sklearn.preprocessing import StandardScaler

# #2. create the object
# sc = StandardScaler()

# #3. fit and transform
# standardized_data = sc.fit_transform(df[['Population','Temperature', 'CPI']])

In [20]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Year','Month','Peak'])
y = df.Peak
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=555)

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((151, 3), (101, 3), (151,), (101,))

In [22]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.80432090891383

In [25]:
yhat = lr.predict(X_test)
# yhat

In [26]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math

MSE  = mean_squared_error(y_test, yhat)
RMSE = math.sqrt(MSE)
MAE  = mean_absolute_error(y_test, yhat)

MSE, RMSE, MAE

(3122401.9404763924, 1767.0319579669158, 1430.3543012372306)