In [73]:
import pandas as pd
df = pd.read_csv('./Joules_of_Siam_Data - Power_Generation_Classified_By_fuel_type_Monthly.csv')
df.head()

,Date,Hydro Electricity,Fuel Oil,Coal & Lignite,Natural Gas,Diesel,Imported,Renewable Energy,Total
0,2002-1,512.6,168.3,"1,623.40","5,689.20",8.2,190.3,71.8,"8,264.00"
1,2002-2,588.9,138,"1,552.00","5,683.20",8.3,149.2,68.3,"8,188.00"
2,2002-3,798,218.3,"1,775.30","6,674.40",5.0,146.5,69.6,"9,687.10"
3,2002-4,718.8,250.8,"1,772.50","6,399.20",3.4,163.5,70.3,"9,378.40"
4,2002-5,602.4,186.5,"1,536.40","7,023.40",15.5,221.7,68.7,"9,654.70"

In [74]:
df.drop(['Date'],axis=1,inplace=True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Hydro Electricity  251 non-null    object
 1   Fuel Oil           238 non-null    object
 2   Coal & Lignite     251 non-null    object
 3   Natural Gas        251 non-null    object
 4   Diesel             251 non-null    float64
 5   Imported           251 non-null    object
 6   Renewable Energy   251 non-null    object
 7   Total              251 non-null    object
dtypes: float64(1), object(7)
memory usage: 15.8+ KB

In [76]:
df.isnull().sum()

Hydro Electricity     0
Fuel Oil             13
Coal & Lignite        0
Natural Gas           0
Diesel                0
Imported              0
Renewable Energy      0
Total                 0
dtype: int64

In [78]:
df['Fuel Oil'].fillna(0,inplace=True)

In [79]:
df.isnull().sum()

Hydro Electricity    0
Fuel Oil             0
Coal & Lignite       0
Natural Gas          0
Diesel               0
Imported             0
Renewable Energy     0
Total                0
dtype: int64

In [80]:
df['Fuel Oil'].fillna(0,inplace=True)
df = df.replace(',','', regex=True).astype('float')

In [81]:
df.head()

,Hydro Electricity,Fuel Oil,Coal & Lignite,Natural Gas,Diesel,Imported,Renewable Energy,Total
0,512.6,168.3,1623.4,5689.2,8.2,190.3,71.8,8264.0
1,588.9,138.0,1552.0,5683.2,8.3,149.2,68.3,8188.0
2,798.0,218.3,1775.3,6674.4,5.0,146.5,69.6,9687.1
3,718.8,250.8,1772.5,6399.2,3.4,163.5,70.3,9378.4
4,602.4,186.5,1536.4,7023.4,15.5,221.7,68.7,9654.7

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Hydro Electricity  251 non-null    float64
 1   Fuel Oil           251 non-null    float64
 2   Coal & Lignite     251 non-null    float64
 3   Natural Gas        251 non-null    float64
 4   Diesel             251 non-null    float64
 5   Imported           251 non-null    float64
 6   Renewable Energy   251 non-null    float64
 7   Total              251 non-null    float64
dtypes: float64(8)
memory usage: 15.8 KB

In [83]:
df.isnull().sum()

Hydro Electricity    0
Fuel Oil             0
Coal & Lignite       0
Natural Gas          0
Diesel               0
Imported             0
Renewable Energy     0
Total                0
dtype: int64

In [84]:
from sklearn.preprocessing import StandardScaler

#2. create the object
sc = StandardScaler()

#3. fit and transform
standardized_data = sc.fit_transform(df.iloc[:,:-1])

In [88]:
from sklearn.model_selection import train_test_split
X = standardized_data
y = df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=999)

In [89]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((175, 7), (76, 7), (175,), (76,))

In [90]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.9999999988207505

In [91]:
lr.predict(X_test)

array([16744.50842283, 13287.69957816, 15711.8104429 ,  9961.8886982 ,
       16933.2100051 ,  9599.48169325, 15324.99233639, 11201.59344448,
       12479.29547388, 12353.5842313 , 12899.29588417, 14938.71132093,
       14084.51612552, 18332.47890109, 10753.09678909, 12272.6947138 ,
       17700.00809083, 11867.00102661, 12165.19520637, 16020.30021858,
       11419.49190323, 14003.49176446, 16469.0115235 , 12272.4974283 ,
       12750.69049503, 17138.31547299, 11107.69267196, 15474.80250168,
       10052.49220741, 16199.39755525, 12694.19481483, 17066.00941248,
       15341.39793478, 16271.39984063, 12714.19429919, 12435.30155749,
       13703.19232457, 16178.30971567, 18376.8109733 , 14633.00197654,
       11545.7910563 , 16911.71322069, 14274.99584397, 17013.91470116,
       13622.500714  ,  8263.79160681, 16721.96838099, 17472.60902083,
       15322.69244428, 17443.81378684, 17276.77356731, 10011.59583141,
       12955.09345707, 16836.49969912, 11176.48904455, 14600.80830135,
       12576.90036397, 12180.69584875, 16536.59963194, 16747.88819319,
       13501.00179141, 18147.30952404, 10333.99623191, 10227.49185592,
       15657.79905611, 14510.99605845, 17281.41123971, 15491.79615588,
       19168.61650121, 16843.20079154, 10361.48791274, 11885.20086128,
       18581.71280707, 14642.19644347, 15999.10139683, 17077.42681727])