In [1]:
import pandas as pd

check = pd.read_csv('./Joules_of_Siam_Data - Dataset_Strech.csv')

In [4]:
check.head()

,Year,Month,Date,Population,Temperature,CPI,GDP,Peak
0,2022,12,01-12-22,66.090000,26.300000,106.470000,924033.3333,27124.7
1,2022,11,01-11-22,66.083333,26.249167,106.470000,924033.3333,27832.7
2,2022,10,01-10-22,66.076667,26.198333,106.470000,924033.3333,27041.9
3,2022,9,01-09-22,66.070000,26.147500,106.470000,849468.6667,27808.0
4,2022,8,01-08-22,66.063333,26.096667,108.503333,849468.6667,28951.8

In [7]:
set = check['Peak'].iloc[-24:].to_list()

In [8]:
import statistics

std_dev = statistics.stdev(set)

print("The standard deviation of the list is:", std_dev)

The standard deviation of the list is: 832.6016577071338